<!-- <div class="container-fluid">
  <h1 class="display-4" id="titulo">Cadastro Empresa</h1>
  <h4 class="display-5" id="titulo">Dados Responsável</h4>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="atuacao-inp">Nome</label>
      <input [(ngModel)]="usuario.numero" type="text" class="form-control">
    </div>
    <div class="form-group col-md-2">
      <label for="atuacao-inp">Sobrenome</label>
      <input [(ngModel)]="usuario.numero" type="text" class="form-control">
    </div>
  </div>
  <h4 class="display-5" id="titulo">Dados Estabelecimento</h4>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="atuacao-inp">CNPJ</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-3">
      <label for="atuacao-inp">Nome Fantasia</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-2">
      <label for="atuacao-inp">Ramo de atuação</label>
      <select type="text" class="form-control">
        <option>
          Pizzaria
        </option>
      </select>
    </div>
  </div>
  <app-endereco [user]="novoEndereco"></app-endereco>
  <div class="form-row">
    <div class="form-group col-md-2">
      <button type="button" class="btn btn-warning" (click)="limparInputs()">Limpar</button>
      <button type="button" class="btn btn-success" (click)="cadastrarEmpresa()">Cadastrar</button>
    </div>
  </div>
</div> -->