<div class="container-fluid">
  <h1 class="display-4" id="titulo">Cadastro Usuário</h1>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="atuacao-inp">Nome</label>
          <input [(ngModel)]="usuario.name" type="text" class="form-control">
        </div>
        <div class="form-group col-md-5">
          <label for="atuacao-inp">Sobrenome</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
          <label for="atuacao-inp">Telefone</label>
          <input [(ngModel)]="usuario.phone" type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-2">
        <label for="atuacao-inp">E-mail</label>
        <input [(ngModel)]="usuario.email" type="e-mail" class="form-control">
      </div>
      <div class="form-group col-md-2">
        <label for="atuacao-inp">Senha</label>
        <input [(ngModel)]="usuario.password" type="password" class="form-control">
      </div>
      <div class="form-group col-md-2">
        <label for="atuacao-inp">Confirmar Senha</label>
        <input type="password" class="form-control">
      </div>
    </div>
  <h4 class="display-5" id="titulo">Dados Estabelecimento</h4>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="atuacao-inp">CNPJ</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-2">
      <label for="atuacao-inp">Nome Fantasia</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-2">
      <label for="atuacao-inp">Ramo de atuação</label>
      <select type="text" class="form-control">
        <option>
          Pizzaria
        </option>
      </select>
    </div>
  </div>
  <app-endereco [user]="usuario"></app-endereco>
  <div class="form-row">
    <div class="form-group col-md-2">
      <button type="button" class="btn btn-warning" (click)="limparInputs()">Limpar</button>
      <button type="button" class="btn btn-success" (click)="cadastrarEmpresa()">Cadastrar</button>
    </div>
  </div>
</div>

<!--MODAL-->
<!-- <div id="confirma-cadastro" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{returnMsg}}</p>
      </div>
    </div>
  </div>
</div> -->