<div class="form-row">
    <div class="form-group col-md-2">
      <label for="atuacao-inp">CEP</label>
      <div class="input-group mb-3">
          <input [(ngModel)]="user.zip" type="text" class="form-control">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="consultaCep()" type="button">Consultar</button>
          </div>
        </div>
    </div>
    <div class="form-group col-md-2">
        <label for="atuacao-inp">Bairro</label>
        <input [(ngModel)]="user.distric" [readonly]="isBuscandoCEP" type="text" class="form-control">
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="atuacao-inp">Logradouro</label>
      <input [(ngModel)]="user.logradouro" [readonly]="isBuscandoCEP" type="text" class="form-control">
    </div>
    <div class="form-group col-md-1">
      <label for="atuacao-inp">Número</label>
      <input [(ngModel)]="user.number" type="text" class="form-control">
    </div>
    <div class="form-group col-md-1">
      <label for="atuacao-inp">Complemento</label>
      <input [(ngModel)]="user.complement" type="text" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="atuacao-inp">Estado</label>
      <select [(ngModel)]="user.state" [disabled]="isBuscandoCEP" type="text" class="form-control">
        <option>SP</option>
        <option>RJ</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="atuacao-inp">Cidade</label>
      <select [(ngModel)]="user.city" [disabled]="isBuscandoCEP" type="text" class="form-control">
        <option>São Paulo</option>
        <option>Rio de Janeiro</option>
      </select>
    </div>
  </div>